@import './variables.scss';

.winners {
    &-title {
        color: $primary;
    }

    &-subtitle {
        color: $secondary;
    }

}


.table {

    border-collapse: inherit;
    border-spacing: 10px;

    &-header {

        color: $primaryLight;
        text-decoration: underline;
    }
}

td {
    color: $primary;
}